<app-navbar></app-navbar>
<div id="container">
    <h2 id="title">Manage Reservations</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center text-light">
            <th scope="col">Original Entry Date</th>
            <th scope="col">Guest First Name</th>
            <th scope="col">Guest Last Name</th>
            <th scope="col">Guest Email</th>
            <th scope="col">Guest Cellphone</th>
            <th scope="col">Party Of</th>
            <th scope="col">Location Requested</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Last Modified Date</th>
            <th scope="col">Reviewed By</th>
            <th scope="col">Last Review Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings" class="text-center text-light">
                    <td>{{booking.origEntryDate}}</td> 
                    <td>{{booking.guestFirstName}}</td>
                    <td>{{booking.guestLastName}}</td>
                    <td>{{booking.guestEmail}}</td>
                    <td>{{booking.guestCellphone}}</td>
                    <td>{{booking.partyOf}}</td>
                    <td>{{booking.locationRequested}}</td>
                    <td>{{booking.arrivalDate}}</td>
                    <td>{{booking.departureDate}}</td> 
                    <td>{{booking.lastModifiedDate}}</td>
                    <td>{{booking.reviewedBy}}</td>
                    <td>{{booking.lastReviewDate}}</td>
                    <td>{{booking.status}}</td>
                    <td><a routerLink="/edit-booking/{{booking.id}}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><button (click)="deletedBooking(booking.id)" class="btn btn-sm btn-dark">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>