#container {
    background-color: #9b0015;
}

#title {
    font-style: oblique;
    text-align: center;
    color: white;
    background-color: #9b0015;
}

thead {
    background-color: rgb(37, 96, 133);
}

tbody {
    background-color: #9b0015;
}
