<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">

                <!-- ADDRESS  -->
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>17211 Jones Maltsberger road</span>
                        </div>
                    </div>
                </div>

                <!-- CONTACT NUMBER -->
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>210.704.7828</span>
                        </div>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>help@appddictionstudio.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND DESCRIPTION -->
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <img id="logo" src="../assets/images/appddgetaways_logo_anim.gif" alt=""> 
                            <!-- <a href="index.html"><img src="../assets/images/appddgetawyas_logo_anim.gif" class="img-fluid" alt="logo"></a> -->
                        </div>


                        <div class="footer-text">
                            <p>Book a weekend getaway at one of the beautiful locations available to you.</p>
                        </div>
                        <!-- <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div> -->
                    </div>
                </div>

                <!-- USEFUL LINKS -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="https://appddictionstudio.com/#/home" target="_blank">Home</a></li>
                            <li><a href="https://appddictionstudio.com/#/who-we-serve" target="_blank">who we serve</a></li>
                            <li><a href="https://appddictionstudio.com/#/leadership" target="_blank">Leadership</a></li>
                            <!-- <li><a href="#">portfolio</a></li> -->
                            <li><a href="https://appddictionstudio.com/#/contact-us" target="_blank">Contact</a></li>
                            <li><a href="https://appddictionstudio.com/#/news" target="_blank">About us</a></li>
                            <!-- <li><a href="#">Our Services</a></li> -->
                            <!-- <li><a href="#">Expert Team</a></li> -->
                            <!-- <li><a href="#">Latest News</a></li> -->
                        </ul>
                    </div>
                </div>

                <!-- SUBSCRIBE AND EMAIL -->
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget"> -->
                        <!-- <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div> -->
                        <!-- <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div> -->
                        <!-- <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div> -->
                    <!-- </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="https://appddictionstudio.com/#/home" target="_blank">Appddiction Studio</a></p>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right"> -->
                    <!-- <div class="footer-menu"> -->
                        <!-- <ul> -->
                            <!-- <li><a href="https://appddictionstudio.com/#/home" target="_blank">Home</a></li> -->
                            <!-- <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li> -->
                            <!-- <li><a href="https://appddictionstudio.com/#/contact-us" target="_blank">Contact</a></li> -->
                        <!-- </ul> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</footer>
