#HB{
    height: 450px;
    width: 400px;
    /* padding-bottom: 40px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    /* border-style: outset; */
    /* outline-style: black; */
    border: 12px solid rgb(37, 96, 133);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}

#LT{
    height: 450px;
    width: 400px;
    /* padding-bottom: 40px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    /* outline-style: groove; */
    border: 12px solid rgb(37, 96, 133);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container{
    /* background: -webkit-linear-gradient(#9b0015, #ff3232);
    background: linear-gradient(#b9000f, #d6abb0); */
    /* border: 12px solid rgb(37, 96, 133);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px; */

}

.jumbotron{
    /* background: -webkit-linear-gradient(#9b0015, #ff3232);
    background: linear-gradient(#b9000f, #d6abb0); */
    

    /* background: whitesmoke; */
}

h2{
    text-align: center;
    font-style: italic;
}

.display-5{
    color: black solid;
}