  <app-navbar></app-navbar>
  
  <!-- <div class="float-left">
    <img id="logo" src="../assets/images/appddgetaways_logo_anim.gif" alt="" height="100px"> 
  </div> -->
  <!-- <hr> -->

<div class="jumbotron">
<div class="container">
    

    <!-- <a routerLink="/list-bookings" class="btn btn-lg text-light" style="background: rgb(37, 96, 133);">Go To Reservations</a> -->
<h1 class="display-3 text-center text-danger">Please choose your destination:</h1>
    <div class="row mt-5">
    
        <div class="col-6">
            <h2 class="display-5 text-primary" >Henderson Beach in Destin, FL</h2>
            <a routerLink="/henderson-beach" class="nav-link" routerLinkActive="active">
                <img id="HB" src="../assets/images/HendersonBeach.jpg" alt="">
            </a>
        </div>
    <!-- </div> -->

    <!-- <hr> -->

    <!-- <div class="container"> -->
        
        <div class="col-6">
            <h2 class="display-5 text-primary">Lake Travis in Austin, TX</h2>
            <a routerLink="/lake-travis" class="nav-link" routerLinkActive="active">
                <img id="LT" src="../assets/images/LakeTravis.jpg" alt="" >
            </a>
        </div>
    <!-- </div> -->
    


    </div>

    

</div>
<app-footer></app-footer>