<nav id="navbar" class ="p-auto navbar navbar-expand-xl navbar-light bg-light border border-danger">
  <div class="float-left">
    <img [routerLink]="['/home-page']" id="logo" src="../assets/images/appddgetaways_logo_anim.gif" alt="" height="100px"> 
  </div>
  <div class ="collapse navbar-collapse" id ="colNav">
  <ul class ="navbar-nav">
    <li class ="nav-item">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <!-- <li class ="nav-item">
      <a *ngIf="loggedIn" [routerLink]="['/destination-page']">Make a Reservation</a>
    <li class ="nav-item"> -->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class ="nav-item">
      <a *ngIf="!loggedIn" [routerLink]="['/login']">Login</a>
    </li>
    <li class ="nav-item">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class ="nav-item">
      <a *ngIf="loggedIn" [routerLink]="['/logout']">Logout</a>
    </li>
  </ul>
  </div>
  </nav>

