

a {
    /* font-family:Lucida Console; */
    font-style: oblique;
    font-size: x-large;
    font-weight: 900;
    color: rgb(61, 141, 190);
    text-decoration: none;
}
.logout {
    align-items: right;
    position: absolute; right:0;
    margin-right: 20px;
}


