<app-navbar></app-navbar>

<div class="jumbotron">
    <div class="container">

      <!-- <div class="d-flex flex-wrap align-items-center"> -->
        <div class="float-end">
          <img id="logo" src="../assets/images/appddgetaways_logo_anim.gif" alt="" height="100px"> 
        </div>
      <!-- </div> -->


        <h2 class="display-3">Request A Reservation</h2>
        <h3 class="display-5">Lake Travis, Austin Texas</h3>
        <div class="row mt-5">
          <div class="col-6">
            <form class="form" #userForm="ngForm" (ngSubmit)="savedBooking()">

                <div class="col-6">
                    <div class="form-group">
                        <label>Date Requested</label>
                        <input 
                        type="date"
                        class="form-control col-6"
                        name="origEntryDate"
                        #origEntryDate
                        inputmode="numeric"
                        [(ngModel)]="newBooking.origEntryDate"
                        [ngClass]="{'is-invalid':newBookingOrigEntryDate.errors && newBookingOrigEntryDate.touched}"
                        #newBookingOrigEntryDate="ngModel"
                        required
                        >

                        <div [hidden]="!newBookingOrigEntryDate.errors?.required" class="invalid-feedback">
                            Please Enter Date Requested.
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest First Name</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="guestFirstName"
                        #guestFirstName
                        [(ngModel)]="newBooking.guestFirstName"
                        [ngClass]="{'is-invalid':newBookingGuestFirstName.errors && newBookingGuestFirstName.touched}"
                        #newBookingGuestFirstName="ngModel"
                        pattern="[a-z A-Z]*"
                        required
                        minlength="2"
                        >

                        <div [hidden]="!newBookingGuestFirstName.errors?.required" class="invalid-feedback">
                            Please Enter First Name.
                        </div>

                        <div [hidden]="!newBookingGuestFirstName.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 2 Letters.
                        </div>

                        <div [hidden]="!newBookingGuestFirstName.errors?.pattern" class="invalid-feedback">
                            Please Enter Letters Only.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest Last Name</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="guestLastName"
                        #guestLastName
                        [(ngModel)]="newBooking.guestLastName"
                        [ngClass]="{'is-invalid':newBookingGuestLastName.errors && newBookingGuestLastName.touched}"
                        #newBookingGuestLastName="ngModel"
                        pattern="[a-z A-Z]*"
                        required
                        minlength="2"
                        >

                        <div [hidden]="!newBookingGuestLastName.errors?.required" class="invalid-feedback">
                            Please Enter Last Name.
                        </div>

                        <div [hidden]="!newBookingGuestLastName.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 2 Letters.
                        </div>

                        <div [hidden]="!newBookingGuestLastName.errors?.pattern" class="invalid-feedback">
                            Please Enter Letters Only.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest Email</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="guestEmail"
                        #guestEmail
                        inputmode="email"
                        [(ngModel)]="newBooking.guestEmail"
                        [ngClass]="{'is-invalid':newBookingGuestEmail.errors && newBookingGuestEmail.touched}"
                        #newBookingGuestEmail="ngModel"
                        required
                        minlength="6"
                        >

                        <div [hidden]="!newBookingGuestEmail.errors?.required" class="invalid-feedback">
                            Please Enter Email.
                        </div>

                        <div [hidden]="!newBookingGuestEmail.errors?.minlength" class="invalid-feedback">
                            Must be at least 6 characters.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest Cell Phone</label>
                        <input 
                        type="tel"
                        class="form-control col-6"
                        name="guestCellPhone"
                        #guestCellPhone
                        inputmode="numeric"
                        [(ngModel)]="newBooking.guestCellphone"
                        [ngClass]="{'is-invalid':newBookingGuestCellPhone.errors && newBookingGuestCellPhone.touched}"
                        #newBookingGuestCellPhone="ngModel"
                        required
                        minlength="10"
                        >

                        <div [hidden]="!newBookingGuestCellPhone.errors?.required" class="invalid-feedback">
                            Please Enter Guest Cell Phone.
                        </div>

                        <div [hidden]="!newBookingGuestCellPhone.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 10 Numbers.
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Party Size</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="partyOf"
                        #partyOf
                        inputmode="numeric"
                        [(ngModel)]="newBooking.partyOf"
                        [ngClass]="{'is-invalid':newBookingPartyOf.errors && newBookingPartyOf.touched}"
                        #newBookingPartyOf="ngModel"
                        required
                        pattern="^[0-9]*$"
                        minlength="1"
                        >

                        <div [hidden]="!newBookingPartyOf.errors?.required" class="invalid-feedback">
                            Please Enter Party Size.
                        </div>

                        <div [hidden]="!newBookingPartyOf.errors?.pattern" class="invalid-feedback">
                            Must be Numbers.
                        </div>

                        <div [hidden]="!newBookingPartyOf.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 1 Number.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Arrival Date</label>
                        <input 
                        type="date"
                        class="form-control col-6"
                        name="arrivalDate"
                        #arrivalDate
                        inputmode="numeric"
                        [(ngModel)]="newBooking.arrivalDate"
                        [ngClass]="{'is-invalid':newBookingArrivalDate.errors && newBookingArrivalDate.touched}"
                        #newBookingArrivalDate="ngModel"
                        required
                        minlength="1"
                        >

                        <div [hidden]="!newBookingArrivalDate.errors?.required" class="invalid-feedback">
                            Please Enter Arrival Date.
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Departure Date</label>
                        <input 
                        type="date"
                        class="form-control col-6"
                        name="departureDate"
                        #departureDate
                        inputmode="numeric"
                        [(ngModel)]="newBooking.departureDate"
                        [ngClass]="{'is-invalid':newBookingDepartureDate.errors && newBookingDepartureDate.touched}"
                        #newBookingDepartureDate="ngModel"
                        required
                        minlength="1"
                        >

                        

                        <div [hidden]="!newBookingDepartureDate.errors?.required" class="invalid-feedback">
                            Please Enter Departure Date.
                        </div>

                    </div>
                </div>
                <br>
 <!-- Button trigger modal -->
 <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Reserve
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-danger text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your booking request was received!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p>A confirmation email has been sent to your inbox.</p>
        <p>Another one will follow with Management's decision.</p>   
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/destination-page']" routerLinkActive="router-link-active"  type="button" class="btn btn-warning text-dark" data-bs-dismiss="modal">Go pack!</a>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a routerLink="/destination-page" class="btn btn-lg text-light" style="background: rgb(37, 96, 133);">Cancel</a>
            </form>
          </div>

          <!-- <div class="col-6" id="carousel">
           
            <section class="carousel" aria-label="Gallery">
               <ol class="carousel__viewport">
                 <li id="carousel__slide1"
                     tabindex="0"
                     class="carousel__slide">
                   <div class="carousel__snapper">
                     <a href="#carousel__slide4"
                        class="carousel__prev">Go to last slide</a> 
                     <a href="#carousel__slide2"
                        class="carousel__next">Go to next slide</a>
                   </div>
                 </li>
                 <li id="carousel__slide2"
                     tabindex="0"
                     class="carousel__slide">
                   <div class="carousel__snapper"></div>
                   <a href="#carousel__slide1"
                      class="carousel__prev">Go to previous slide</a>
                   <a href="#carousel__slide3"
                      class="carousel__next">Go to next slide</a>
                 </li>
                 <li id="carousel__slide3"
                     tabindex="0"
                     class="carousel__slide"> 
                   <div class="carousel__snapper"></div>
                   <a href="#carousel__slide2"
                      class="carousel__prev">Go to previous slide</a>
                   <a href="#carousel__slide4"
                      class="carousel__next">Go to next slide</a>
                 </li>
                 <li id="carousel__slide4"
                     tabindex="0"
                     class="carousel__slide">
                   <div class="carousel__snapper"></div>
                   <a href="#carousel__slide3"
                      class="carousel__prev">Go to previous slide</a>
                   <a href="#carousel__slide1"
                      class="carousel__next">Go to first slide</a>
                 </li>
               </ol>
               <aside class="carousel__navigation">
                 <ol class="carousel__navigation-list">
                   <li class="carousel__navigation-item"> 
                      <a href="#carousel__slide1"
                        class="carousel__navigation-button"></a>
                   </li>
                   <li class="carousel__navigation-item">
                     <a href="#carousel__slide2"
                        class="carousel__navigation-button"></a>
                   </li>
                   <li class="carousel__navigation-item">
                     <a href="#carousel__slide3"
                        class="carousel__navigation-button"></a>
                   </li>
                   <li class="carousel__navigation-item">
                     <a href="#carousel__slide4"
                        class="carousel__navigation-button"></a>
                   </li>
                 </ol>
               </aside>
             </section>
       </div>  -->

<!-- 
       <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
          <div class="carousel-caption">
            <h3>My slide {{i + 1}} title</h3>
          </div>
          <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
              <img [src]="img" alt="My image {{i + 1}} description">
            </div>
          </a>
        </ng-template>
      </ngb-carousel> -->

      <div class="col-5">
      <ngb-carousel>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[0]" height="100%" width="100%">
          </div>      
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[1]" height="90%" width="90%">
          </div>        
        </ng-template>


        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[2]"  height="90%" width="90%">
          </div>        
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[3]"height="90%" width="90%">
          </div>       
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[4]"height="100%" width="100%">
          </div>         
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[5]"height="120%" width="120%">
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[6]"height="100%" width="100%">
          </div>        
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper slide">
            <img [src]="images[7]"height="120%" width="125%">
          </div>      
        </ng-template>


      </ngb-carousel>
    </div>
      

        </div>
    
</div>






