<body class="jumbotron">
  <div class="container">
    <h1>WELCOME to...</h1>
    <div class="d-flex flex-wrap align-items-left">
      <div>
        <img id=logo src="../assets/images/appddgetaways_logo_anim.gif" alt=""> 
      </div>
      <h1>Please log in or register to book your getaway!</h1>
      <div class="login">
        <div class="row">
          <div class="col-6">
            <a routerLink="/login" class="btn btn-lg btn-danger">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <a routerLink="/register-form" class="btn btn-lg btn-danger">Register</a>
          </div>
        </div>
      </div>
    </div> 
  </div>
</body>


    


