<app-navbar></app-navbar>
<div class="jumbotron">
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
      <div class='input-fields'>
        <input type='text' id="username" name="username" [(ngModel)]="newUser.username" placeholder='Username' class='input-line full-width'>
        <!-- <input type='email' placeholder='Email' class='input-line full-width'> -->
        <input type='password' id="password" name="password" [(ngModel)]="newUser.password" placeholder='Password' class='input-line full-width'>

      </div>
      <!-- <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div> -->
      <!-- <div><button routerLink="/destination-page" class='ghost-round full-width'>Create Account</button></div> -->
      <button type="submit" (click)="addNewUser()" class="btn btn-sm btn-danger">Create Account</button>
      <!-- <p *ngIf="isIdPresent">Wrong username/password combination.</p> -->
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>