
<app-navbar></app-navbar>



<div class="jumbotron">
    <div class="container">
        <h2 class="display-3">Request A Reservation</h2>
        <div class="row mt-5">
            <form class="form" #userForm="ngForm" (ngSubmit)="savedBooking()">

                <div class="col-6">
                    <div class="form-group">
                        <label>Date Requested</label>
                        <input 
                        type="date"
                        class="form-control col-6"
                        name="origEntryDate"
                        id="origEntryDate"
                        #origEntryDate
                        inputmode="numeric"
                        [(ngModel)]="newBooking.origEntryDate"
                        [ngClass]="{'is-invalid':newBookingOrigEntryDate.errors && newBookingOrigEntryDate.touched}"
                        #newBookingOrigEntryDate="ngModel"
                        required 
                        > 

                        <div [hidden]="!newBookingOrigEntryDate.errors?.required" class="invalid-feedback">
                            Please Enter Date Requested.
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest First Name</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="guestFirstName"
                        #guestFirstName
                        [(ngModel)]="newBooking.guestFirstName"
                        [ngClass]="{'is-invalid':newBookingGuestFirstName.errors && newBookingGuestFirstName.touched}"
                        #newBookingGuestFirstName="ngModel"
                        pattern="[a-zA-Z]*"
                        required
                        minlength="2"
                        >

                        <div [hidden]="!newBookingGuestFirstName.errors?.required" class="invalid-feedback">
                            Please Enter First Name.
                        </div>

                        <div [hidden]="!newBookingGuestFirstName.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 2 Letters.
                        </div>

                        <div [hidden]="!newBookingGuestFirstName.errors?.pattern" class="invalid-feedback">
                            Please Enter Letters Only.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest Last Name</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="guestLastName"
                        #guestLastName
                        [(ngModel)]="newBooking.guestLastName"
                        [ngClass]="{'is-invalid':newBookingGuestLastName.errors && newBookingGuestLastName.touched}"
                        #newBookingGuestLastName="ngModel"
                        pattern="[a-zA-Z]*"
                        required
                        minlength="2"
                        >

                        <div [hidden]="!newBookingGuestLastName.errors?.required" class="invalid-feedback">
                            Please Enter Last Name.
                        </div>

                        <div [hidden]="!newBookingGuestLastName.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 2 Letters.
                        </div>

                        <div [hidden]="!newBookingGuestLastName.errors?.pattern" class="invalid-feedback">
                            Please Enter Letters Only.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest Email</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="guestEmail"
                        #guestEmail
                        inputmode="email"
                        [(ngModel)]="newBooking.guestEmail"
                        [ngClass]="{'is-invalid':newBookingGuestEmail.errors && newBookingGuestEmail.touched}"
                        #newBookingGuestEmail="ngModel"
                        required
                        minlength="6"
                        >

                        <div [hidden]="!newBookingGuestEmail.errors?.required" class="invalid-feedback">
                            Please Enter Email.
                        </div>

                        <div [hidden]="!newBookingGuestEmail.errors?.minlength" class="invalid-feedback">
                            Must be at least 6 characters.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Guest Cell Phone</label>
                        <input 
                        type="tel"
                        class="form-control col-6"
                        name="guestCellPhone"
                        #guestCellPhone
                        inputmode="numeric"
                        [(ngModel)]="newBooking.guestCellphone"
                        [ngClass]="{'is-invalid':newBookingGuestCellPhone.errors && newBookingGuestCellPhone.touched}"
                        #newBookingGuestCellPhone="ngModel"
                        required
                        minlength="10"
                        >

                        <div [hidden]="!newBookingGuestCellPhone.errors?.required" class="invalid-feedback">
                            Please Enter Guest Cell Phone.
                        </div>

                        <div [hidden]="!newBookingGuestCellPhone.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 10 Numbers.
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Party Size</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="partyOf"
                        #partyOf
                        inputmode="numeric"
                        [(ngModel)]="newBooking.partyOf"
                        [ngClass]="{'is-invalid':newBookingPartyOf.errors && newBookingPartyOf.touched}"
                        #newBookingPartyOf="ngModel"
                        required
                        pattern="^[0-9]*$"
                        minlength="1"
                        >

                        <div [hidden]="!newBookingPartyOf.errors?.required" class="invalid-feedback">
                            Please Enter Party Size.
                        </div>

                        <div [hidden]="!newBookingPartyOf.errors?.pattern" class="invalid-feedback">
                            Must be Numbers.
                        </div>

                        <div [hidden]="!newBookingPartyOf.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 1 Number.
                        </div>
                    </div>
                </div>

                
                <div class="col-6">
                    <div class="form-group">
                        <label>Location Requested</label>
                        <input 
                        type="text"
                        class="form-control col-6"
                        name="locationRequested"
                        #locationRequested
                        inputmode="text"
                        [(ngModel)]="newBooking.locationRequested"
                        [ngClass]="{'is-invalid':newBookingLocationRequested.errors && newBookingLocationRequested.touched}"
                        #newBookingLocationRequested="ngModel"
                        required
                        pattern="^[a-zA-Z]*$"
                        
                        >

                        <div [hidden]="!newBookingLocationRequested.errors?.required" class="invalid-feedback">
                            Please Enter Party Size.
                        </div>

                        <div [hidden]="!newBookingLocationRequested.errors?.pattern" class="invalid-feedback">
                            Must be Numbers.
                        </div>

                        <div [hidden]="!newBookingLocationRequested.errors?.minlength" class="invalid-feedback">
                            Please Enter at least 1 Number.
                        </div>
                    </div>
                </div>






                <div class="col-6">
                    <div class="form-group">
                        <label>Arrival Date</label>
                        <input 
                        type="date"
                        class="form-control col-6"
                        name="arrivalDate"
                        #arrivalDate
                        inputmode="numeric"
                        [(ngModel)]="newBooking.arrivalDate"
                        [ngClass]="{'is-invalid':newBookingArrivalDate.errors && newBookingArrivalDate.touched}"
                        #newBookingArrivalDate="ngModel"
                        required
                        minlength="1"
                        >

                        <div [hidden]="!newBookingArrivalDate.errors?.required" class="invalid-feedback">
                            Please Enter Arrival Date.
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label>Departure Date</label>
                        <input 
                        type="date"
                        class="form-control col-6"
                        name="departureDate"
                        #departureDate
                        inputmode="numeric"
                        [(ngModel)]="newBooking.departureDate"
                        [ngClass]="{'is-invalid':newBookingDepartureDate.errors && newBookingDepartureDate.touched}"
                        #newBookingDepartureDate="ngModel"
                        required
                        minlength="1"
                        >

                        <div [hidden]="!newBookingDepartureDate.errors?.required" class="invalid-feedback">
                            Please Enter Departure Date.
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <form>
                        <br><label>Status</label><br>
                            <input type="radio" id="approved" name="status" #status [(ngModel)]="newBooking.status" value="Approved">
                            <label for="approved">Approved</label><br>
                            <input type="radio" id="rejected" name="status" #status [(ngModel)]="newBooking.status" value="Rejected">
                            <label for="rejected">Rejected</label></form><br>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Save Reservation</button>
                


            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

<app-footer></app-footer>


