
.jumbotron{

    background: -webkit-linear-gradient(#9b0015, #ff3232);
    background: linear-gradient(#b9000f, #d6abb0);
}
.container{
    background-color: whitesmoke;
    border: 12px solid rgb(37, 96, 133);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}