
<div class="d-flex flex-wrap align-items-center">
  <div>
    <img id=logo src="../assets/images/appddgetaways_logo_anim.gif" alt=""> 
  </div>
</div>
<div class="jumbotron">
<div class="container">
  <div class="login">
      <div class="form">
        <h1> Please sign in or create a account</h1>
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Username">
        
        <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password">
        <br>
        <br>
        <div class="row">
          <div class="col-8">
            <button type="submit" (click)="checkLogin()" class="btn btn-sm btn-danger">Sign In</button>
            
            <p *ngIf="invalidLogin">Wrong username/password combination.</p>
              <!-- <a routerLink="/destination-page" class="btn btn-danger">Sign In</a> -->
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-8">
            <!-- <a routerLink="/bookings" class="btn btn-danger">Sign In as Admin</a> -->
        </div>
    </div>
<br>
      <div class="row">
        <div class="col-8">
            <a routerLink="/home-page" class="btn btn-danger">Go Back</a>
        </div>
    </div>
      <!-- <div class="buttons">
        <button>Sign In</button>
        <br>
        <br>
        <button>Create Account</button> -->
        <!-- <input type="submit" value="Sign In" class="submit"> -->
        <!-- <input type="submit" value="Create Account" class="submit"> -->
      <!-- </div> -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> -->
    
  </div>
</div>

