* {
    box-sizing: border-box;
    font-family: sans-serif;
    
  }
  .login {
    width: 500px;
    height: 450px;
    border: 1px solid #CCC;
    background: rgb(37, 96, 133);
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
  }
  .login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
  
  }
  .login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .login .form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: rgb(37, 96, 133);
    border-radius: 5px;
    font-size: 14px;
  }
  .login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
  }
  ::-webkit-input-placeholder {
      color: solid rgb(37, 96, 133);
  }
  .login .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
  }
  
  h1{
      text-align: center;
      color: #FFF;
      font-family: 'Courier New', Courier, monospace;
  }
  
  

  
  .container{

    background: -webkit-linear-gradient(#9b0015, #ff3232);
    background: linear-gradient(#b9000f, #d6abb0); 
    padding-bottom: 100px;
    padding-top: 10px;
    border: 12px solid rgb(37, 96, 133);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .buttons{
    text-align: center;
  }
  

  
  #logo{
    padding-left: 50%;
    padding-right: 50%;
  
  }

  p {
    color: white;
    margin-top: 20px;
  }
  
  